@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #25272E;
}

header {
    background: white;
    padding: 20px;
}
header > h1 h2{
    color:#25272E;
    text-align: center;
    font-family:  Asap,sans-serif;
}

.score-board{
    border: 3px solid white;

}