* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #25272E;
}

header {
    background: white;
    padding: 20px;
}
header > h1{
    color:#25272E;
    text-align: center;
    font-weight: Asap,sans-serif;
}